[Desktop Entry]
Type=Application
Name=Launchpad
Exec=sh /home/USERNAME/.local/share/applications/launchpad/launchpad.sh
Icon=~/.local/share/applications/launchpad/launchpad.png
Terminal=false
